<div class="red">
  <img src="https://images.apple.com/v/iphone/home/v/images/home/limited_edition/iphone_7_product_red_large.jpg" alt="">
 <div class="red1">
   {{!-- <h3>Special Edition</h3> --}}
   <div class="red2">
      <h4> Choose (RED). Give life.</h4>
      <p>Your purchase helps fund the fight against AIDS.</p>
      <p><span>Learn more about (RED)®</span></p>
   </div>
   {{!-- <div class="red2">
     <img src="https://images.apple.com/v/iphone/home/v/images/home/limited_edition/product_red_logo_large.png" alt="">
   </div>
    <p><span>Learn more about (RED)®</span> > </p> --}}
 </div>
</div>

<style>


.br {
 width:100%;
 height:45px;
 background-color:#f5f5f5;
}
/*RED PIC*/
.red {
 width:100%;
 height:667px;
 background-color:#cc3341;
 overflow: hidden;
 position: relative;
}
.red img {
  position: absolute;
  margin-left:91px;
}
.red1 {
    width: 54%;
    /* height: 240px; */
    float: left;
    background-color: #cc3341;
    margin-left: 55%;
    margin-top: 230px;
}
.red1 h3{
  text-align:center;
  font-size:16px;  
  color:#fff;
  border:1px solid #fff;
  padding:15px;
  width:28%;
  height:15px;
  border-radius:5px;
  margin-left:140px;
  margin-top:0px;
  padding-bottom:15px;
  padding-top:10px;
  font-weight:600;
  font-family: 'Open Sans', sans-serif;
}
.red2:first-child {
    width: 80%;
    height: 60px;
    float: left;
    background-color: #cc3341;
}
.red2 h4 {
  text-align: center;
  font-weight: bolder;
  font-size:65px;
   margin-top:-6px;
  color:#fff;
  font-family: 'Open Sans', sans-serif;
}
.red2 p{
  font-size:30px;
}
.red2 {
 width:50%;
 height:60px;
 float:left;
 background-color:#cc3341;
  position: relative;
  margin-bottom:18px;
}
.red2 img{
 position: absolute;
  margin-left: 0;
  
}
.red1 p {
  text-align: center;
  color:#fff;
  font-weight:600;
}
.red1 span {
  font-size:17px;  
}
.red1  span:hover{
  border-bottom:2px solid #fff ;}
/*two pic */ 


</style>